.btn {
    --lightGray: rgb(204, 204, 204);
    background-color:rgb(192, 192, 192);
    color: black;
    border: solid 0.5px var(--lightGray);
    border-radius: 5px;
    padding: 4px 12px;
    margin: 5px;
}

.btn:hover {
    background-color:rgb(192, 192, 192, 0.7);
}

.input {
    padding: 4px;
    border-radius: 5px;
    border: 1px solid var(--lightGray);
    margin-bottom: 10px;
    box-shadow: 0px 0px 2px gray;
    margin-top: 5px;
}